<header class="top-header" id="header-container">
    <div class="header-left-group">
        <i class="bi bi-chevron-left menu-toggle" id="sidebarToggle"></i>
        <div class="logo-wrapper">
            <img src="/assets/Images/logo_MBSG_UG_8.webp" alt="Logo">
            <h3 class="logo-text">MBSG:UGANDA ERP</h3>
        </div>

        <h4 id="pageTitle" class="page-title">Dashboard</h4>
    </div>
    <div class="header-user">
        <span id="welcomeUser" class="welcome-user">
            <i class="bi bi-person-circle"></i>
            <span id="userNameText">Loading...</span>
        </span>
        <button id="logoutBtn" class="logout-btn">
            <i class="bi bi-box-arrow-right"></i> Logout
        </button>
    </div>
</header>